main{
    background-image: url("../../components/Images/sign.jpg");
    height: 600px;
     background-size: cover;
     background-position: initial;
}
*{
  text-align: center;
  justify-content: center;
}
.title{
  padding-top: 20px;
  font-size: 40px;
  font-family: 'Lora', serif;
  font-weight: bolder;
}
Input{
  padding-top: 40px;
}

#main
{
    position: relative;
    top: 25px;
    left: 300px;
    width: 75px;
}
.test{
  margin-top: 100px;
  margin-bottom: 65px;
  font-size: 30px;
}
.test1{
  /* margin-top: 100px; */
  margin-bottom: 5px;
  font-size: 30px;
}
input{
width:60%;
border-radius: 10px;
font-size: 30px;
}