#topInput
{
    position: relative;
    width: 100%;
    display: initial;
    font-size: 50px;
    background-color:#eee0d7;
}

#bottomInput
{
    position: relative;
    width: 100%;
    display: initial;
    font-size: 50px;
    font: white;
     background-color:#eee0d7;
}

#furtherBottom
{
    position: relative;
    width: 400px;
    height: 150px;
    display: initial;
}
.form-group{
    margin-top: 70px;
}