#main
{
    position: relative;
    top: 20px;
    left: 123px;
    width: 75px;
}

#mapButton
{
    position: relative;
    width: 75px;
    height: 40px;
    /* top: 0px; */
    /* left: 150px; */
    /* width: 75px; */
}
#notFoundButton{
       width: 150px;
       background-color: orange;
       color: black;
}