body {
  margin: 0;
  padding: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: visible;
  background-image: url('https://geostar.info/attachment/full/hd-us-map-background/maps-wallpapers-group-with-29-items-191.jpg');
  background-repeat: unset;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
table{
    border-collapse: separate;
    border-spacing: 15px;
}
a{
  margin-left:15px;
  margin-bottom: 15px
}
