.jumbotron{
  background-image: URL("img/road_trip.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  line-height: 4.5;
  font-family: 'Baloo Chettan', cursive;
  font-size: 40px;
  color: whitesmoke;
  text-shadow: 4px 4px #bd974f;
}
