.searchmap{
    height: 75vh;
    width: 100%;
   border: #2f4c6d solid 6px;
   align-content: center;
   margin-top: 15px;
   margin-right: 15px;
    margin-left: 30px;
}

#mapButton
{
    position: relative;
    width: 75px;
    height: 40px;
}

#itineraryContainer{
    overflow-y: hidden;
    height: 70vh;
    background-color: aliceblue
}